$text-color: #d2d2d2;
$titles-color: rgb(245, 244, 244);
$accent-color: rgb(87, 155, 18);
$background-color: rgb(53, 64, 70);
$background-menu-color: rgba(42, 50, 54, 0.5);

$border-color: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 238, 108, 0.6);

$zoomIn-animation: zoomIn 700ms cubic-bezier(0, 0, 0.42, 0.4);
$appearance-animation: appearance 700ms cubic-bezier(0, 0, 0.42, 0.4);
$fadeInRight-animation: fadeInRight 700ms cubic-bezier(0, 0, 0.42, 0.4);
